## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build klasörleri
bin/
obj/

## NuGet paketleri
*.nupkg
*.snupkg
packages/

## Local appsettings
appsettings.Development.json

## Rider, VSCode vs
.idea/
.vscode/

# Custom files
logoStatus.json